:root {
  --bg-color: #ffffff;
  --text-color: #333333;
  --hero-bg-color: #f0f0f0;
  --accent-color: #007bff;
  --button-hover-color: #0056b3;
}

.dark-mode {
  --bg-color: #2e2e33;
  --text-color: #d0d0d0;
  --hero-bg-color: #3a3a3e;
  --accent-color: #4da3ff;
  --button-hover-color: #3385ff;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  transition: background-color 0.3s, color 0.3s;
  overflow:hidden;
}

header {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: flex-end;
}

#darkModeToggle {
  background: none;
  border: none;
  color: var(--text-color);
  font-size: 1.5rem;
  cursor: pointer;
}

.hero {
  width: 100%;
  max-width: 1200px;
  padding: 60px 20px;
  background-color: var(--hero-bg-color);
  text-align: center;
  color: var(--text-color);
  transition: background-color 0.3s;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.hero h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.hero h2 span {
  color: var(--accent-color);
}

.hero p {
  font-size: 1rem;
  margin-bottom: 30px;
  text-align: justify;
}

.button-49 {
  background-color: var(--accent-color);
  border: none;
  color: #ffffff;
  padding: 15px 25px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.button-49:hover {
  background-color: var(--button-hover-color);
}

.contact-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.contact-link {
  color: var(--text-color);
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s;
}

.contact-link:hover {
  color: var(--accent-color);
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 2.5rem;
  }

  .hero h2 {
    font-size: 1.25rem;
  }

  .hero p {
    font-size: 0.875rem;
  }

  .button-49 {
    padding: 12px 20px;
    font-size: 0.875rem;
  }
}

@media (max-width: 480px) {
  .hero h1 {
    font-size: 2rem;
  }

  .hero h2 {
    font-size: 1rem;
  }

  .hero p {
    font-size: 0.75rem;
  }

  .button-49 {
    padding: 10px 15px;
    font-size: 0.75rem;
  }

  .contact-link {
    font-size: 0.875rem;
  }
}